#cabecalho{
    background-color: blue;
}


h1, h2{
    font-family: 'Times New Roman', Times, serif;
}

.link{
    font-weight: bold; color: black;
}

#container{
    margin: 20px auto;
}

#conteudo{
    line-height: 1.5;
}

form{
    border: 1px solid gray;
    padding: 10px;
}



